{% load static %}
<link rel="stylesheet" href="{% static 'title.css' %}">
<div class="header">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <div class="ti">
            <div class="brd logo">
                <a class="navbar-brand" href="https://www.lazoo.org/">
                    <img src="{% static 'sitspots/img/logo2-2.png' %}" width="30" height="30" alt="" class="zoo_logov1">
                </a>
            </div>
            <div class="title brd centered dircol">
                <!-- <img src="{% static 'sitspots/img/logo2.png' %}" width="30" height="30" alt="" class="zoo_logo"> -->
                <!-- <h3 style="font-family: 'Times New Roman', Times, serif;"> presents </h3> -->
                <h1 style="font-family: 'Times New Roman', Times, serif;">A Sit Spot in LA Zoo</h1>
            </div>
            <div class="brd right logintitle">
                <span class="">
                    <a href="#">En Español</a> |
                    {% if request.user.is_authenticated %}
                    <a href="/accounts/login">Welcome {{request.user.username}}!</a> | <a href="/accounts/logout">Logout</a>
                    {% else %}
                    <a href="/accounts/login">Login</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo00" aria-controls="navbarTogglerDemo00" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo00">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/zooGarden">LA Zoo Gardens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/findYourSitSpot">Find your Sit Spot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/naturestories">Your Nature Stories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>