<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% comment %}
        For bootstrap
        {% endcomment %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/scripts.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <p>The purpose of this wildlife guide is to engage communities with nature and build skills to connect to nature in the Zoo, at home, and on one's own terms.</p>
            <p>Before we get started, here are some things you need to know:</p>
            <p>What does nature mean/represent to me?</p>
            <p>What is a sit spot?</p>
            <p> Why am I doing this?</p>
            <p>What is conservation? </p> 
           
        </div>
    </body>

</html>