


.tree-image{
    background-image: url(../img/1248253927.jpeg);
    background-size: cover;
    padding: 75px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.content{
    background-color: green;
    width: 80%;
    margin: auto;
    
    padding-bottom: 30px;
}