.ti{
    width: 100%;
    display: flex;
    justify-content: center;
}
.brd{
    flex-basis: 33%;
    /* outline: 1px solid red; */
    height: 75px;
}
.right{
    text-align: right;
}
.centered{
    text-align: center;
    padding: 20px;
}
.zoo_logo{
    height: 40px;
    width: auto;
}