{% load static %}
<div class="species-container">
    <div class="species-name">
        <p>Anna's Hummingbird</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/anna-s-hummingbird-adult-male-kyle-blaney_orig.jpeg' %}">
            <p>Male//photo by Kyle Blaney</p>
        </div>
        <div class="species-image">
            <img src="{% static 'sitspots/img/anna-s-hummingbird-female-ryan-winkleman_orig.jpeg' %}">
            <p>female//photo by Ryan Winkleman</p>
        </div>
    </div>
    <div class="species-info">
        <p>Description : Tiny green and gray bird, with a straight short bill and a fairly broad tail. Which extends longer than the wingtips.</p>
        <p>Diet:  Nectar from flowering plants, including currant and gooseberry are their main diet. They also can be found to eat a variety of insects, the smaller ones that can be found on a web or flower. </p> 
        <p>Habitat:  Common in urban and suburban settings. Other habitats they can be found in are chaparral, costal scrubs and open woodlands.</p>
        <p>Terrestrial Biomes: </p>                    
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Hooded Oriole</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/hooded-orioles-adult-male-kevin-groeneweg_orig.jpeg' %}">
            <p>male//photo by Kevin Groeneweg</p>
        </div>
        <div class="species-image">
            <img src="{% static 'sitspots/img/hooded-oriole-female-anne-webster-leight_orig.jpeg' %}">
            <p>female//photo by Anne (Webster) Leight</p>
        </div>
    </div>
    <div class="species-info">
        <p>Description :  Same size as a robin, but these birds have a black and yellow-orange tints to them. They are shown to have long rounded tails and longish necks. Even though they are black and orange they still have bits of white that show on their wings. </p>
        <p>Diet: With their curved small beaks they are able to go close to the ground and flip leaves over to find small insects, such as ants, grasshoppers, larvae and caterpillars. They also enjoy eating fruits and nectar from plants and flowers.</p> 
        <p>Habitat: Open, dry areas in the Southwest with scattered trees including cottonwoods and more. </p>
        <p>Terrestrial Biomes: </p>                    
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Rufous - crowned Sparrow</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/rufous-crowned-sparrow-adult-doug-hitchcox.jpeg' %}">
            <p>photo by Doug Hitchcox</p>
        </div>
    </div>
    <div class="species-info">
        <p>Description :   Large sparrow with round heads and longer tails. They have a thick, pointed bill. Colors are usually brown with a small tint of orange.</p>
        <p>Diet: Insects are their main diets in the spring and summer, while stems and seeds during winter. They scratch the floor looking for small insects.</p> 
        <p>Habitat:  Dry open hillsides that are covered with grasses, rocks and scattered shrubs such as open chaparrals are where they are most common. They tend to be spotted in areas that have been burned in California.</p>
        <p>Terrestrial Biomes: </p>                    
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Pincushion flower</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/pincushionflower_orig.jpeg' %}">
            <p>photo by Martin Fletcher</p>
        </div>
    </div>
    <div class="species-info">
      <p>What times would it be best to grow them?</p>
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Snowball viburnum</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/snowballviburnum_orig.jpeg' %}">
            <p>photo from  Wikipedia</p>
        </div>
    </div>
    <div class="species-info">
      
    </div>
</div>