{% load static %}
<div class="species-container">
    <div class="species-name">
        <p>American Robin</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/46927069094-2a426c38ff_orig.jpeg' %}">
            <p>photo by Dennis Church </p>
        </div>
    </div>
    <div class="species-info">
        <p>Description : Large songbirds with a large round body with long legs and long tail. Their coloring ranges front gray-brown with orange underparts and dark heads.</p>
        <p>Diet: Invertebrates and fruit are part of a larger amount hey consume. In spring they eat lots of earthworms and insects and some snails. They also love eating a variety of fruits, especially the ones that have little bugs hiding inside.</p> 
        <p>Habitat: They are common across the continent. You'll find them on lawns, fields, city parks for the urban section. In the wild you can find them in woodlands, forests and mountains. During the winter they migrate to moist woods.</p>                   
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Bewick's Wren</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/medium-5_orig.jpeg' %}">
            <p>photo by </p>
        </div>
    </div>
    <div class="species-info">
        <p>Description :  Medium-sized wrens with a small slender body and long tail held upright. Long bill that are slightly downcurved can be used as a way to identify them. Brown, gray and white are the three main colors found on this bird.</p>
        <p>Diet: Eggs, larvae, pupae and adults of insects are their main food choices. Another common prey animals include bugs, beetles, bees and more. They also can be found eating seeds, fruit and other plant matter.</p> 
        <p>Habitat: Brushy areas, scrub and thickets in open country or woodlands are where you can find these birds.  </p>                   
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>California Towhee</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/califtowhee_orig.jpeg' %}">
            <p>photo by </p>
        </div>
    </div>
    <div class="species-info">
        <p>Description: Large sparrows with short rounded wings, long tail and thick seed cracking beak, which give then an "ungainly look in flight". They are usually matter brown except of a rusty patch under the tail and around their bill.</p>
        <p>Diet: Main diet consist of mostly seed from grasses and herbs. They do also enjoy berries and spires and snails.</p> 
        <p>Habitat: Chaparral scrub that lines coastal slopes and foothills of California and Southern Oregon. The are usually around streams and canyons.</p>                   
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Parney's Cotoneaster</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/cotoneaster_orig.jpeg' %}">
            <p>photo by Hai qi Li</p>
        </div>
    </div>
    <div class="species-info">
        
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Ohi'a Lehua</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/springfire_orig.jpeg' %}">
            <p>photo by Jill DayLiily</p>
        </div>
    </div>
    <div class="species-info">
        
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Dwarf Bottlebrush tree</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/dwarfbottlebrushtree2_orig.jpeg' %}">
            <p>photo by Jill DayLiily</p>
        </div>
    </div>
    <div class="species-info">
        
    </div>
</div>
