{% load static %}
<div class="species-container">
    <div class="species-name">
        <p>Mourning Dove</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/mourningdove_orig.jpeg' %}">
            <p>photo by Nick Lantz</p>
        </div>
    </div>
    <div class="species-info">
        <p>Description :  Smaller than a pigeon, with plump-bodies and unique long-tails. Their legs are short and they have small bill with a small head compared to the body. </p>
        <p>Diet: Seeds make up more than most of their diets, which include grains and peanuts sometimes. With the exception of snails. </p> 
        <p>Habitat: Commonly found to be in open country, scattered trees and woodland edges. Then in winter they head to woodlots</p>
        <p>Terrestrial Biomes: </p>                    
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Black-Chinned Hummingbird</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/medium-2.jpeg' %}">
            <p>photo by Nick Lantz</p>
        </div>
    </div>
    <div class="species-info">
        <p>Description :  Small and slender with a straight bill. They usually have a dull metallic green above and a dull and grayish-white below.</p>
        <p>Diet: They have a simple diet that includes nectar from flower, small insects and spiders and sugar water.</p> 
        <p>Habitat: Found in the Southwest where there are canyons near rivers. During winter they can be found to be in the shade of oaks along the Gulf.</p>                 
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>White Crowned Sparrow</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/medium-1_orig.jpeg' %}">
            <p>photo by Nick Lantz</p>
        </div>
    </div>
    <div class="species-info">
        <p>Description :  A larger type of sparrow with a small bill and a long tail. The head can look to be both peaked and be flat, depending of the point of view. They tend to be pale-gray bird, with a very bold black-and-white stripes on the head with a pink or yellow beak.</p>
        <p>Diet:  Seeds of weeds and grasses plus a number of small insects such as caterpillars are their main diets. They also favor grains such as oats and wheat.</p> 
        <p>Habitat: </p>                 
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Bottle Palm</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/bottlepalm2_orig.jpeg' %}">
            <p>photo by Nick Lantz</p>
        </div>
    </div>
    <div class="species-info">
        
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Elephant Bush</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/elephantbush_orig.jpeg' %}">
            <p>photo by Nick Lantz</p>
        </div>
    </div>
    <div class="species-info">
        
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Elephant Tree</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/elephanttree_orig.jpeg' %}">
            <p>photo by Nick Lantz</p>
        </div>
    </div>
    <div class="species-info">
        
    </div>
</div>
