{% load static %}
<div class="species-container">
    <div class="species-name">
        <p>Acorn Woodpecker</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/acornwoodpecker_orig.jpeg' %}">
            <p>photo by Charlie Morey</p>
        </div>
        
    </div>
    <div class="species-info">
        <p>Description : Medium sized, black and white clown faced bird with a red crown, glossy black and white head. With one red or yellow feather.</p>
        <p>Diet: Consists of insects, sap, oak, catkins, fruit and flower nectar. Sometimes grass seeds, lizards and bird eggs.</p> 
        <p>Habitat: Pine=Oak woodlands where oak trees are plentiful. Also found in riparian corridors and in Douglas firs, redwood and tropical hardwood forests as long as oaks are available and near by.</p>
        <p>Terrestrial Biomes: forest; rainforest</p>                    
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>California Scrub-Jay</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/medium_orig.jpeg' %}">
            <p>photo by Brad Moon</p>
        </div>
        
    </div>
    <div class="species-info">
        <p>Description : They have a blue forehead streaked with white eyebrows and a mixture of gray and black around their eyes. Breast, sides and bellies are gray or white and their mantle is brown or black.</p>
        <p>Diet: Omnivorous, diet consists of a range of animal and plant material. Fruits such as cherries and Insects such as beetles are some of their main diet. </p> 
        <p>Habitat:  Very dry, open hot coastal habitats, where human populations are dense. Lower elevations in thick grass, brush and low shrubs. Often found to be in woodlands with a dense environment.</p>
        <p>Terrestrial Biomes:  desert or dune; savanna</p>                    
    </div>
<div class="species-container">
    <div class="species-name">
        <p>Bushtit</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/50185859071-01a725b89d_orig.jpeg' %}">
            <p>photo by Kevin Krebs</p>
        </div>
        
    </div>
    <div class="species-info">
        <p>Tiny and kinglet-sized birds. They are pulmp with large heads and long tails but short with stubby bills. Colors range from brown, gray and black.</p>
        <p>Diet: Small insects and spiuders, including the smallest ones that are living on leaves and twigs. They do eat plant material but its less common for them to do so.</p> 
        <p>Habitat: Open woods or scrubby areas, particularly pine-oak woodlands and chaparral. They also live in scrubs, sagebrush's and streamside woods.</p>                   
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>White Sage</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/white-sage_orig.jpeg' %}">
            <p>photo by Carol Aronson </p>
        </div>
        
    </div>
    <div class="species-info">
       
</div>
<div class="species-container">
    <div class="species-name">
        <p>California Fuchisa</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/california-fuchsia_orig.jpeg' %}">
            <p>photo by Sandy Masuo </p>
        </div>
        
    </div>
    <div class="species-info">
        
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Toyon</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/toyon_orig.jpeg %}">
            <p>photo by Bob Wickham</p>
        </div>
        
    </div>
    <div class="species-info">
        
    </div>
</div>