{% load static %}
<div class="species-container">
    <div class="species-name">
        <p>Black-headed Grosbeak</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/medium-4_orig.jpeg' %}">
            <p>Male//photo by Jill Hung</p>
        </div>
    </div>
    <div class="species-info">
        <p>Description :  Hearty songbirds with very large bills that are thick and connect with their also large heads. The short tail they have gives the bird more of the allusion to look chunky. Colors range from an orange-cinnamon, black and brown, depending on the gender.</p>
        <p>Diet: With their massive bill it makes it easier for them to crack seeds and it also allows then to snatch and crush hard-bodied insects or snails. They can also be seen easting wild fruits and oats. </p> 
        <p>Habitat: When it comes to their habitat things can get complex, because they can be found in habitat with a diversity of plants and easy access to water. When in winter they chose subtropical and tropical lowands in Mexico.</p>                  
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Northern Mockingbird</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/medium-3_orig.jpeg' %}">
            <p>Male//photo by Jill Hung</p>
        </div>
    </div>
    <div class="species-info">
        <p>Description :   Medium sized songbird that is a bit more slender with a long tail. They have small heads, a long, thin bill with long legs. Wings are short and rounded, when flying they give the allusion of an even longer tail. </p>
        <p>Diet: Insects are their main diet but in summer they switch to eating mostly fruits. They also are seen drinking sap from the cuts on recently planted trees </p> 
        <p>Habitat: Open areas with open ground and with shrubby vegetation like hedges, fruiting bushed and thickets. They can be found </p>                  
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Spotted Towhee </p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/spottedtowhee_orig.jpeg' %}">
            <p>Male//photo by Hai qi Li</p>
        </div>
    </div>
    <div class="species-info">
        <p>Description : A large sparrow with a thick, pointed bill and short neck that connects to a chunky body and round tail. Colors include jet-black, white spots and tints of orange with red eyes.</p>
        <p>Diet: Main diet consist of insects different kinds of beetles, crickets, grasshoppers and more. During the winter they eat a more plant and grain diet.</p> 
        <p>Habitat: Dry thickets, brushy tangles, forest edges, old fields and chaparrals are where these birds are found to be.</p>                  
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Lindheimer's Beeblossom</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/beeblossum_orig.jpeg' %}">
            <p>Male//photo by Hai qi Li</p>
        </div>
    </div>
    <div class="species-info">
        <p>Scientific Name: Oenothera lindheimeri</p>
        <p>Description: The native range of this plant is from southeastern Texas east into to Louisiana and south into Mexico. It is an important food source for birds and pollinators.</p>
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>California Coffeeberry</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/californiacoffeeberry_orig.jpeg' %}">
            <p>Male//photo by Hai qi Li</p>
        </div>
    </div>
    <div class="species-info">
        <p>Scientific Name: Rhamnus californica</p>
        <p>Description: This shrub occurs in a variety of habitats throughout California, the Southwestern U.S., and Baja California, Mexico. Its berries are an important food source for wildlife.</p>
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Hummingbird Sage </p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/hummingbirdsage2_orig.jpeg' %}">
            <p>Male//photo by Hai qi Li</p>
        </div>
    </div>
    <div class="species-info">
        <p>Scientific Name: Salvia spathacea</p>
        <p>Description: Native to southern and central California, the attractive flowering spikes of this sage are an important food source for hummingbirds.</p>
    </div>
</div>