{% load static %}
<div class="species-container">
    <div class="species-name">
        <p>Dark- eyed Junco</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/drak-eyed-junco-adult-stlate-colored-andree-debreuil.jpeg' %}">
            <p>photo by Andree Debreuil</p>
        </div>
    </div>
    <div class="species-info">
        <p>Where are they most common? 
            What do they eat? 
            Behavior? 
             conservation - are they on the watch list? </p>
        <p>Description :  Neat and Attractive sparrows. They are easy to recognize because of their white tailed feathers.</p>
        <p>Diet: Seeds, buckwheat, and sorrel. </p> 
        <p>Habitat:  Forest in North America at elevations more than 11,00 feet. Also found in Coniferous forests including pine, Douglas-fir, spruce and fir. During winter they go to open woodlands, fields, parks and gardens.</p>
        <p>Terrestrial Biomes: </p>  
        <p>Watch list: ​No</p>              
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Black Phoebe </p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/black-pheobe-adult-northern-peter-paul_orig.jpeg' %}">
            <p>pphoto by Peter Paul</p>
        </div>
    </div>
    <div class="species-info">
        <p></p>
        <p>Description :  </p>
        <p>Diet:  </p> 
        <p>Habitat:  </p>
        <p>Terrestrial Biomes: </p>     
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Hermit Thrush</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/hermit-thrushn-adult-yves-gauthier.jpeg' %}">
            <p>photo by Yves Gauthier</p>
        </div>
    </div>
    <div class="species-info">
        <p></p>
        <p>Description : Variety of habitats ranging from boreal forests of the far north to deciduous woods and mountain forest, found in open areas. In winter go for lower elevation forest with dense understory and berry bushes.  </p>
        <p>Diet:  </p> 
        <p>Habitat:  </p>
        <p>Terrestrial Biomes: </p>     
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Coahuila Sage </p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/coahuilasage_orig.jpeg' %}">
            <p>photo by Scott Zona</p>
        </div>
    </div>
    <div class="species-info">
    
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Sword Ferns</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/sword-ferns_orig.jpeg' %}">
            <p>photo by Tad Montoya</p>
        </div>
    </div>
    <div class="species-info">
    
    </div>
</div>
<div class="species-container">
    <div class="species-name">
        <p>Red Powder Puff</p>
    </div>
    <div class="species-photo">
        <div class="species-image">
            <img src="{% static 'sitspots/img/red-powder-puff_orig.jpeg' %}">
            <p>photo by Forest & Kim Starr</p>
        </div>
    </div>
    <div class="species-info">
    
    </div>
</div>