<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        {% comment %}
        For bootstrap
        {% endcomment %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'naturestories/css/style.css' %}">
        <script src="{% static 'naturestories/js/scripts.js' %}"></script>
        <script>csrf='{% csrf_token %}'.split('value="')[1].split('"')[0]</script>
    </head>
    <body class="container-fluid" data-media-url="{% get_media_prefix %}">
        <header>
            <!-- <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand" href="/">LA Zoo SitSpots</a>
                <span class="navbar-text">
                    <a href="/accounts/login">Login</a> |
                    <a href="/accounts/logout">Logout</a>
                </span>
            </nav> -->
            {% include 'header.html' %}
            <div class="story_header">
                <h1 class="text-center story_header_text">My Nature Stories</h1>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Choose a Garden to Explore: </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link zones" href="#" active="1" loclink="all">All Gardens<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link zones" href="#" active="0" loclink="California Garden">California Garden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link zones" href="#" active="0" loclink="Baja California Garden">Baja California Garden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link zones" href="#" active="0" loclink="North America Garden">North America Garden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link zones" href="#" active="0" loclink="Australasia Garden">Australasia Garden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link zones" href="#" active="0" loclink="Africa Garden">Africa Garden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link zones" href="#" active="0" loclink="South America Garden">South America Garden</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search">
                        <button class="btn btn-outline-success" type="submit" id="search_button">Search</button>
                    </form>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="text-center share_header">
                <h3>Share your Nature Stories with the Community!</h3>
                <a href="/naturestories/create" class="btn btn-success">Click Here to Add Your Story!</a>
            </div>
            <div class="row" id="posts">
            {% include 'naturestories/stories_list.html' %}
                <!-- <div class="col-lg-4">
                    <div class="blog-grid">
                        <div class="blog-img">
                            <div class="date">04 FEB</div>
                            <a href="#">
                                <img src="https://via.placeholder.com/350x280/FFB6C1/000000" title="" alt="">
                            </a>
                        </div>
                        <div class="blog-info">
                            <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                            <div class="btn-bar">
                                <a href="#" class="px-btn-arrow">
                                    <span>Read More</span>
                                    <i class="arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-lg-4">
                    <div class="blog-grid">
                        <div class="blog-img">
                            <div class="date">04 FEB</div>
                            <a href="#">
                                <img src="https://via.placeholder.com/350x280/FFB6C1/000000" title="" alt="">
                            </a>
                        </div>
                        <div class="blog-info">
                            <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                            <div class="btn-bar">
                                <a href="#" class="px-btn-arrow">
                                    <span>Read More</span>
                                    <i class="arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </body>

</html>