<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% comment %}
        For bootstrap
        {% endcomment %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'naturestories/css/style.css' %}">
        <script src="{% static 'naturestories/js/scripts.js' %}"></script>
    </head>
    <body class="container-fluid">
        <header>
            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand" href="/">LA Zoo SitSpots</a>
                <span class="navbar-text">
                    <a href="/accounts/login">Login</a> |
                    <a href="/accounts/logout">Logout</a>
                </span>
            </nav>
            <div class="story_header">
                <h1 class="text-center story_header_text">My Nature Stories</h1>
            </div>
        </header>

        <div class="container">
            <h2>Create Your Nature Stories</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}   
                    {{ message | safe }}
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/naturestories/new_story" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <button type="submit" value="Submit" class="btn btn-success">Share Your Story!</button>
                <a value="Cancel" class="btn btn-danger" href="/naturestories">Cancel and Go Back</a>
            </form>
        </div>
    </body>
</html>