<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% comment %}
        For bootstrap
        {% endcomment %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'naturestories/css/style.css' %}">
        <script src="{% static 'naturestories/js/scripts.js' %}"></script>
    </head>
    <body class="container-fluid" data-media-url="{% get_media_prefix %}">
        <header>
            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand" href="/">LA Zoo SitSpots</a>
                <span class="navbar-text">
                    <a href="/accounts/login">Login</a> |
                    <a href="/accounts/logout">Logout</a>
                </span>
            </nav>
        </header>
        <div class="container">
            <h2 class="text-center">{{post.title}}</h2>
            <div class="read_more_img">
                <img src="{{post.image.url}}" class="img-fluid">
            </div>
            <div class="row justify-content-md-center">
                <ul class="read_more col col-lg-8">
                    <li><h5>Author</h5> {{post.author}}</li>
                    <li><h5>Sitspot</h5> {{post.sitspot}}</li>
                    <li><h5>Zone</h5> {{post.zone.name}}</li>
                    {% if post.website %}
                    <li><h5>Website</h5> {{post.website}}</li>
                    {% endif %}
                    <li><h5>Story</h5>{{post.content}}</li>
                    <li>
                        <h5>Comments</h5>
                        <ul>
                            {% for comment in post.comments.all %}
                            <li>{{comment.author}}: {{comment.content}}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        {% if messages %}
                        <ul class="messages">    
                            {% for message in messages %}   
                                {{ message | safe }}
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <form action="/naturestories/new_comment" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{post.id}}">
                            <table class="table">
                                {{ comment_form.as_table }}
                            </table>
                            <button type="submit" class="btn btn-primary btn-sm">Submit Comment</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>