<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% comment %}
        For bootstrap
        {% endcomment %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'naturestories/css/style.css' %}">
        <script src="{% static 'naturestories/js/scripts.js' %}"></script>
        <script>csrf='{% csrf_token %}'.split('value="')[1].split('"')[0]</script>
    </head>
    <body class="container-fluid" data-media-url="{% get_media_prefix %}">
        <header>
            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand" href="/">LA Zoo SitSpots</a>
                <span class="navbar-text">
                    <a href="/accounts/login">Login</a> |
                    <a href="/accounts/logout">Logout</a>
                </span>
            </nav>
            <h1 class="text-center">My Nature Stories</h1>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#" active="1" loclink="all">All Gardens<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" active="0" loclink="California Garden">California Garden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" active="0" loclink="Baja California Garden">Baja California Garden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" active="0" loclink="North America Garden">North America Garden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" active="0" loclink="Australasia Garden">Australasia Garden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" active="0" loclink="Africa Garden">Africa Garden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" active="0" loclink="South America Garden">South America Garden</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="text-center share_header">
                <h3>Share your Nature Stories with the Community!</h3>
                <a href="/naturestories/create" class="btn btn-success">Click Here to Add Your Story!</a>
            </div>
            <div class="row" id="posts">
            {% include 'naturestories/stories_list.html' %}
                <!-- <div class="col-lg-4">
                    <div class="blog-grid">
                        <div class="blog-img">
                            <div class="date">04 FEB</div>
                            <a href="#">
                                <img src="https://via.placeholder.com/350x280/FFB6C1/000000" title="" alt="">
                            </a>
                        </div>
                        <div class="blog-info">
                            <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                            <div class="btn-bar">
                                <a href="#" class="px-btn-arrow">
                                    <span>Read More</span>
                                    <i class="arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-lg-4">
                    <div class="blog-grid">
                        <div class="blog-img">
                            <div class="date">04 FEB</div>
                            <a href="#">
                                <img src="https://via.placeholder.com/350x280/FFB6C1/000000" title="" alt="">
                            </a>
                        </div>
                        <div class="blog-info">
                            <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                            <div class="btn-bar">
                                <a href="#" class="px-btn-arrow">
                                    <span>Read More</span>
                                    <i class="arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </body>

</html>