<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        {% comment %}
        For bootstrap
        {% endcomment %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
            {% load static %}
        <link rel="stylesheet" href="{% static 'naturestories/css/style.css' %}">
        <script src="{% static 'naturestories/js/scripts.js' %}"></script>
        {%load crispy_forms_tags %}
    </head>
    <body class="container-fluid" data-media-url="{% get_media_prefix %}">
        <header>
            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand" href="/">LA Zoo SitSpots</a>
                <span class="navbar-text">
                    <a href="/accounts/login">Login</a> |
                    <a href="/accounts/logout">Logout</a>
                </span>
            </nav>
        </header>
        <div class="container">
            <a class="btn btn-primary btn-sm" href="/naturestories">Back To Nature Stories</a>
            <h2 class="text-center">{{post.title}}</h2>
            <div class="read_more_img">
                <img src="{{post.image.url}}" class="img-fluid">
            </div>
            <div class="row justify-content-md-center">
                <ul class="read_more col col-lg-10">
                    <li class="row">
                        <p class="col col-lg-1">Tags:</p>
                        {% for tag in post.tags.all %}
                        <div class="col col-lg-3">
                            <a href="#"><p class="tag">{{tag.name}}</p></a>
                        </div>
                        {% endfor %}
                    </li>
                    <li><h5>Author</h5> {{post.author}}</li>
                    <li><h5>Sitspot</h5> {{post.sitspot}}</li>
                    <li><h5>Zone</h5> {{post.zone.name}}</li>
                    {% if post.website %}
                    <li><h5>Website</h5> {{post.website}}</li>
                    {% endif %}
                    <li><h5>Story</h5>{{post.content}}</li>
                    <li>
                        <h5>Comments</h5>
                        <ul class="comment_list">
                            {% for comment in post.comments.all %}
                                <li class="row comment_row">
                                    <div class="col col-lg-1 ">
                                        <div class="comment_profile_pic"></div>
                                    </div>
                                    <div class="col col-lg-9 comment_content">
                                        {{comment.author}}: {{comment.content}}
                                    </div>
                                    <div class="col col-lg-2 comment_reply">
                                        <a href="#">Reply</a>
                                    </div>
                                </li>
                                <li class="form_row">
                                    <form class="form-inline" action="/naturestories/new_reply" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="post_id" value="{{post.id}}">
                                        <input type="hidden" name="comment_id" value="{{comment.id}}">
                                        <div class="form-group col-md-4 mb-0">
                                            {{ reply_form.author|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-md-11 mb-0">
                                            {{ reply_form.content|as_crispy_field }}
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-sm">Submit Reply</button>
                                    </form>
                                </li>
                                {% for reply in comment.replies.all %}
                                <li class="row reply_row">
                                    <div class="col col-lg-1 "></div>
                                    <div class="col col-lg-11">
                                        <div class="row indented_replies">
                                            <div class="col col-lg-1"><div class="comment_profile_pic"></div></div>
                                            <div class="col col-lg-11 comment_content">{{reply.author}}: {{reply.content}}</div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="add_comment_form">
                        <h5>Add a Comment:</h5>
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}   
                                {{ message | safe }}
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <form action="/naturestories/new_comment" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{post.id}}">
                            <!-- {% for field in comment_form %}
                            <div class="form-group row">
                                <div class="col-sm-3 col-form-label">{{field.label}}</div>
                            </div>
                            {% endfor %} -->
                            {{ comment_form|crispy }}
                            <button type="submit" class="btn btn-primary btn-sm">Submit Comment</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>